<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../imgs/logo-head.png" alt="logo-head">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-xxl-end">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">WHY CHOOSE US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">INDUSTRIES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">WORKS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">OUR TEAM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">ENG/VN</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <section id="banner">
        <div class="">
            <img src="../imgs/bg-head.jpg" alt="bg-head">
            <div class="banner-text">
                <h1>CONTACT US</h1>
                <p>Lorem ipsum simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
        </div>
    </section>

    <section id="form">
        <div class="container">
            <div class="form-title">
                <h3>Get an estimate for your app idea. We do not spam.</h3>
            </div>
            <div class="row">
                <div class="col-xxl-6">
                    <h4>Sydney</h4>
                    <p>417/165 Phillip St Sydney NSW 2000 Australia <br>1300 028 808 <br>Int. +61 2 8776 3849 <br>sales@block8.com</p>
                    <h4>Chandigarh</h4>
                    <p>Rajiv Gandhi Chandigarh Technology Park, <br>Manimajra, Chandigarh, 160101, India</p>
                </div>
                <div class="col-xxl-6">
                    <input type="text" id="name" name="name" placeholder="Name" class="w-100">
                    <input type="text" id="email" name="email" placeholder="Email" class="w-100">
                    <input type="text" id="subject" name="subject" placeholder="Subject" class="w-100">
                    <input type="text" id="message" name="message" placeholder="Message" class="w-100 h-200">
                    <button type="submit" class="w-100">SEND</button>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe">
        <div class="container-fluid">
            <img src="../imgs/bg-ft.jpg" alt="bg-ft">
            <div class="subscribe-text">
                <h2>Subscribe to our Newsletter</h2>
                <p>Lorem ipsum simply dummy text of the printing and typesetting industry. Lorem <br>ipsum has been the industry's standard dummy text ever since the 1500s, when an <br>unknown printer took a galley of type and scrambled it to</p>
                <button type="submit">SUBSCRIBE NOW</button>
            </div>
        </div>
    </section>

    <footer >
        <div class="container ft">
            <div class="ft-content">
                <div class="ft-logo">
                    <img src="../imgs/logo-ft.png" alt="logo-ft">
                </div>
                <div class="ft-menu">
                    <a href="#">WHY CHOOSE US</a>
                    <a href="#">INDUSTRIES</a>
                    <a href="#">WORKS</a>
                    <a href="#">OUR TEAM</a>
                    <a href="#">CONTACT</a>
                </div>
            </div>
            <div class="ft-contact">
                <p>012345XXXXX</p>
                <div class="ft-icon">
                    <img src="../imgs/logo-in.png" alt="logo-in">
                    <img class="icon1" src="../imgs/logo-twitter.png" alt="logo-tiwtter">
                </div>
            </div>
        </div>
    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>